.b-container {
  height: 50vh;
}

.b-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.b-col {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 250px;
  height: 100px;
  margin: 15px 0;
}

.b-col > div {
  display: flex;
  flex-direction: column;
}

.b-col > div i {
  display: block;
  height: 10px;
  line-height: 10px;
}

.b-col i {
  color: #ff0000;
  font-size: 25px;
}

.b-col span {
  margin-left: 10px;
  font-size: 25px;
  color: #001e28;
}

@media screen and (max-width: 767px) {
  .b-container {
    height: auto;
  }
}
